html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Registration Form

        script(name="javascript/text" src="jquery-3.3.1.min.js")
        link(rel="stylesheet" href="bootstrap.css")
        link(rel="stylesheet" href="style.css")
        script(name="javascript/text" src="bootstrap.js")
        script(name="javascript/text" src="error.js")
        

    body
        .container-fluid
            form.needs-validation(novalidate="" method="")
                .form-group
                    h1.h3.mb3.font-weight-normal Register Here
                    hr

                .form-group.row
                    
                    .col-md-6.mb-3
                        label.sr-only(for="acct") Account Number
                        input.form-control(type = "number" name = "acctnum" id="acctid" 
                            placeholder = "Enter your account #" value = "" required="")
                        
                        .invalid-feedback account number is required

                    .col-md-6.mb-3
                        label.sr-only(for="pin1") PIN1
                        input.form-control(type = "number" name = "pin1" id ="pin1" 
                            placeholder = "Enter your PIN" value ="" required = "")

                        .invalid-feedback PIN is required

                    .col-md-6

                    .col-md-6.mb-3
                        label.sr-only(for="pin2") PIN2
                        input.form-control(type = "number" name = "pin2" id = "pin2"
                            placeholder = "Confirm your PIN" value = "" required="")

                        .invalid-feedback PIN dot not match
                
                
                .form-group.row
                    h1.h3.mb3.font-weight-normal.text-center Personal information
               
                    .col-md-6.mb-3
                        label.sr-only(for="lname") Last name
                        input.form-control(name="lastname" id="lname"
                            placeholder = "Enter your last name here" value = "" required ="")
                        
                        .invalid-feedback last name is a must

                    .col-md-6.mb-3
                        label.sr-only(for="fname") First name
                        input.form-control(name="firstname" id="fname"
                            placeholder = "Enter your first name here" value = "" required ="")
                            
                        .invalid-feedback 
                            p first name is a must
                
                .form-group

                    textarea.form-control.text-center(name="address" placeholder = "Address")
                    label

                    label.sr-only(for="contact") Contact
                    input.form-control.text-center(name="contact" id="contact" 
                        placeholder = "Enter your Contact #" value = "" required="")

                    br                  
                    label Birthday
                    input.form-control.text-center(type="date" name = "bday")
                    
                    br
                    button.btn.btn-lg.btn-info.btn-block(name="register" 
                        type ="submit") Register


                    