html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Registration Form

        script(name="javascript/text" src="jquery-3.3.1.min.js")
        link(rel="stylesheet" href="bootstrap.css")
        link(rel="stylesheet" href="style.css")
        script(name="javascript/text" src="bootstrap.js")
        script(name="javascript/text" src="error.js")
        

    body
        .container-fluid
            form.needs-validation(novalidate="" method="")
                
                .form-group
                    h1.h3.mb3.font-weight-normal Register here
                    hr
                
                .form-group

                    label.sr-only(for="funame") Full Name
                    input.form-control.text-center(name="fuName" for="funame"
                        placeholder="Enter your full name here" value="" required="")
                    
                    .invalid-feedback.text-center Your name is Required

                .form-group

                    textarea.form-control.text-center(name="add" placeholder = "Address")

                .form-group

                    label.sr-only(for="contact") contact number
                    input.form-control.text-center(type="number" name="contact" for="contact"
                        placeholder="Enter your contact number here" value="" required="")
                    
                    .invalid-feedback.text-center your number is Required
                
                .form-group

                    label.sr-only(for="email") email
                    input.form-control.text-center(name="email" for="email"
                        placeholder=" email here ex. jdlcrz@gmail.com" value="" required="")
                    
                    .invalid-feedback.text-center Your email is Required
        
                .form-group

                    button.btn.btn-lg.btn-info.btn-block(name="register" 
                        type ="submit") Register


                    